.tech-wrap {
    position: relative;
    overflow: hidden;
}

.tech-img {
    grid-column: -5 / span 6;
    grid-row: 4 / span 6;
    padding-top: 1rem;
}

.tech h5 {
    color: #FFFFFF;
    grid-column: 2 / span 6;
    grid-row: 4 / span 1;
}

.tech {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/technology/background-technology-desktop.jpg');
}

@keyframes rotate {
    to {
        transform: translate(-50%, 50%);
        transform: rotate(360deg)
    }   
}