.planet-slider {
    position: relative;
    align-self: flex-end;
}

.planet-slider ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 2rem;
}

.planet-slider li button {
    height: 100%;
    width: 100%;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
}

.planet-slider .selected-planet-marker {
    position: absolute;
    border-radius: 5px;
    height: 5px;
    bottom: 0px;
    transition: ease-in-out all 1s;
    background-color: #FFFFFF;
}