.tech-select {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 2 / span 1;
    grid-row: 5 / span 6;
}

.tech-select button {
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    width: 5rem;
    height: 5rem;
    color: #FFFFFF;   
    font-size: 2rem;
    font-family: 'Bellefair', serif;
}

.tech-select .selected {
    color: black;
    background-color: #FFFFFF;
    animation: fade-in 0.3s ease-in 1;
}

@keyframes fade-in {
    from {
        color: #FFFFFF;
        background-color: transparent;
    }
    to {
        background-color: #FFFFFF;
        color: black;
    }
}