.App {
  font-family: 'Barlow Condensed', sans-serif;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, .sh1, .sh2 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
}

h1 {
  font-size: 9.35rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  letter-spacing: 4.75px;
  font-size: 1.75rem;
  color: #D0D6F9;
}

.sh1 {
  font-size: 1.75rem;
}

.sh2 {
  font-size: 0.875rem;
  letter-spacing: 2.35px;
}

.span-h5 {
  color: #D0D6F9;
  font-weight: bold;
}

p {
  color: #D0D6F9;
  line-height: 2rem;
}